@use "../../assets/styles/global" as *;

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 1rem 4rem;
  width: 100%;

  &__transcription {
    padding: 4rem 0;
    &--off {
      visibility: hidden;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__container--sloganbutton {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__text {
    margin-bottom: 8rem;
    display: flex;
    gap: 20px;
    align-items: center;

    &-logo {
      height: 140px;
      width: 140px;
    }

    &-description {
      font-weight: bold;
      font-size: 50px;
      color: #00bf63;

      &--recording {
        font-weight: bold;
        font-size: 50px;
        color: #00bf63;
      }
    }

    &--recording {
      display: flex;
      align-items: end;
      gap: 20px;
      align-items: center;
    }
  }

  &__action {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    // padding-top: 450px;
    &-record {
      padding: 12px 24px;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #0078d4;
      color: white;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #005ea6;
        transform: scale(1.05);
      }

      &.recording {
        background-color: #00bf63;
        animation: pulse 1.5s infinite;
      }
    }
  }
}
