.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  &__name-container {
    width: 10rem;
  }

  &__name {
    padding-right: 1rem;
    font-weight: 600;
  }

  &__linebreak {
    width: 100%;
    border-bottom: 2px solid #6396f7;
  }
}
