.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  &__teamname {
  }

  &__linebreak {
    width: 100%;
    border-bottom: 2px solid #6396f7;
  }
}
